<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', async () => {
        try {
          let registration = await navigator.serviceWorker.register('/_js/service-worker.js')
          console.log('Service Worker registered:', registration);
        } catch (error) {
          console.log('Service Worker registration failed:', error);
        }
      });
    }
  </script>
  <link rel="manifest" href="/manifest.json">


  <meta charset="UTF-8">
  <title>Cadastro</title>

  <%- include('../views/head'); %>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js"></script>
</head>

<body id="app">
  <%- include('../views/nav'); %>
    <section class="bg-light pt-4" id="app">
      <div class="container-lg">
        <div class="text-center">
          <h2>Index</h2>
        </div>
      </div>
    </section>
    <nav>
      <router-link to="/">Início</router-link>
      <router-link to="/admin/livros">Admin livros</router-link>
      <router-link to="/autor">Autor</router-link>
    </nav>
    <main>
      <router-view @refresh="refresh()"/>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
      </script>
    <footer>
      <%- include('../views/footer'); %>
    </footer>
</body>

</html>
<script type="module">
  import CrudLivros from './_js/CrudLivros.js'
  import CardLivros from './_js/CardLivros.js'
  import ExibLivros from './_js/ExibLivros.js'
  import Autor from './_js/Autor.js'
  import ListLivros from './_js/ListLivros.js'
  import Detalhes from './_js/Detalhes.js'

  let livros = Vue.ref([]);
  async function refresh(){
    livros.value = await listar()
  }
  refresh()
  const routes = [
    {
      path: '/', component: ListLivros, props: {
        livros
      }
    },
    {
      path: '/admin/livros', component: CrudLivros, props: {
        livros
      }
    },
    { path: '/autor', component: Autor },
    {
      path: '/detalhes/:id', component: Detalhes, props: {
        livros
      }
    }
  ]
  const router = VueRouter.createRouter({
    history: VueRouter.createMemoryHistory(),
    routes,
  });

  Vue.createApp({
    setup() {
      const lista = Vue.ref([]);
      const nome = Vue.ref(null);
      const livroExibido = Vue.ref({});
      function seleciona(evento) {
        alert(evento);
      }
      function exibe(evento) {
        livroExibido.value = evento;
      }
      return {
        lista,
        nome,
        livroExibido,
        seleciona,
        exibe,
        refresh
      }
    }
  }).use(router).mount('#app')
</script>
<script src="/_js/LivrosStoreAPI.js"></script>
<script>
  if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
          Notification.requestPermission();
          navigator.serviceWorker.register('/worker.js', { scope: '/'})
              .then(registration => {
                  console.log('Service Worker registered:', registration);
                  // const worker = new Worker('_js/worker.js');
                  console.log({ registration });
                  // Envia dados para o Worker
                  // registration.postMessage('oi da página');
              
                  // Escuta a resposta do Worker
                  registration.addEventListener('message', event => {
                      console.log('recebeu ', event.data);
                  });
              })
              .catch(error => {
                  console.log('Service Worker registration failed:', error);
              });
      });
  }
</script>